<a class="btn btn-secondary wishlist-add-button position-absolute bottom-2 right-2 ml-1 mt-1 p-2" 
href="#" 
data-toggle="tooltip" 
data-placement="top" 
title="Add to wishlist" 
aria-label="Add to wishlist" 
data-original-title="Add to wishlist" 
data-product-handle="{{ product_handle }}">
<div class="wishlist-icon line-height-none">
  <i class="fas fa-heart"></i>
</div>
</a>
