<a class="btn btn-primary btn-secondary wishlist-add-button position-absolute bottom-2 right-2 d-inline ml-1 mt-1 p-2" href="#" data-product-handle="{{ product_handle }}">
  <div class="wishlist-icon line-height-none">
    <i class="fas fa-heart"></i>
  </div>
  </a>
  