<div class="rte alert alert-info">
  {{ section.settings.text }}
</div>

{% schema %}
  {
    "name": "Text",
    "class": "about-text",
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Want to say hi?! Visit our <a href=\"/pages/contact-us\">Contact us</a> page to get in touch with us.</p>"
      }
    ]
  }
{% endschema %}

{% stylesheet 'scss' %}
.about-text p {
  margin-bottom: 0;
}
{% endstylesheet %}
